@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}





/* MENU */
.contenedor-header {
    background: #011e2e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #001eff;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #001eff;
}

.nav-responsive {
    background-color: #001eff;
    ;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.inicio {
    margin-top: 1%;
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo4.jpg);
    background-size: cover;
    height: 125vh;
    color: #0011ff;
    display: flex;
    align-items: center;
}

.inicio h2 {
    color: white;
}

.inicio .contenido-banner {
    margin: auto;
    padding: 30px;
    background-color: #1e2326;
    max-width: 450px;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #001eff;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
    border: 8px solid #001eff;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    padding-top: 10px;
    font-family: 'Righteous';
    font-size: 15px;
    font-weight: normal;
    color: rgb(253, 253, 253);
    
    

}



.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #001eff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    color: #001eff;
}



/*SOBRE MI*/
.sobremi {
    background-color: #011e2e;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 60px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #001eff;

}

.sobremi .contenido-seccion p {
    font-family: 'Righteous';
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    font-family: 'Righteous';
    color: #00bbff;
    font-weight: bold;
}

.sobremi .contenido-seccion h1 {
    font-family: 'Righteous';
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    color: #001eff;
}

.sobremi .fila {
    margin-top: 5%;
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color: #001eff;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;

}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #fff;
    width: 130px;
}

.sobremi .fila .col ul li a {
    background-color: #000000;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}


.sobremi .fila .col ul li span {
    background-color: #001eff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 120px;
    height: 120px;
    background-color: #117fda;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #001eff;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

/* SECCION S K I L L S */
.skills {
    background-color: #131618;

    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 60px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #0011ff;

}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #001eff;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #001eff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.skills .skill .photoshop {
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.skills .skill .wordpress {
    width: 0%;
    animation: 2s wordpress forwards;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

.skills .skill .drupal {
    width: 0%;
    animation: 2s drupal forwards;
}

@keyframes drupal {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .trabajo {
    width: 0%;
    animation: 2s trabajo forwards;
}

@keyframes trabajo {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skills .skill .proyect {
    width: 0%;
    animation: 2s proyect forwards;
}

@keyframes proyect {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

/* SECCION CURRICULUM */
.curriculum {

    background-color: #011e2e;
    color: #fff;
    padding: 50px 20px;

}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 60px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #0011ff;

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #3f56ff;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #c1c8fc;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #001eff;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #001eff;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #001eff;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #001eff;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #001eff;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #001eff;
    float: left;
    position: relative;
    bottom: 4px;
}

.curriculum button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.curriculum button a {
    text-decoration: none;
    color: white;
}

.curriculum button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #001eff;
    z-index: -1;
    transition: 1s;
}

.curriculum button:hover .overlay {
    width: 100%;
}

/* SECCION PROYECTOS */

.tecnologias {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}

.tecnologias i {
    font-size: 28px;
}

.tecnologias img {
    align-items: center;
    width: 28px !important;
    height: 28px !important;
    object-fit: contain;
    display: block;
    border-radius: 0 !important;
    /* 🔥 clave: sin bordes redondos */
}





.tech {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    background-color: #080500;
    border-radius: 8px;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

/* ICONOS FONT AWESOME */
.tech i {
    font-size: 18px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hover */
.tecnologias i:hover,
.tecnologias img:hover {
    transform: scale(1.2);
    transition: 0.2s;
}




.portfolio {
    padding: 60px 20px;
    background: #131618;



}

.portfolio h2 {
    font-size: 60px;
    font-family: 'Righteous';
    text-align: center;
    padding: 30px 0;
    color: #0011ff;
}

.portfolio .lista-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.portfolio .proyecto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    background: #1b1f22;
    padding: 25px 30px;
    border-radius: 14px;
    text-align: justify;
    transition: all 0.3s ease;

}

.portfolio .proyecto:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* Sombra más intensa */
    cursor: pointer;
    /* Cambia el cursor */
}

.portfolio .proyecto img {
    width: 300px;
    height: 190px;
    object-fit: cover;
    border-radius: 12px;

}

/*nuevo*/

.portfolio .proyecto-img {
    position: relative;
    width: 300px;
    /* height: 190px;  */

    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* imagen */
.portfolio .proyecto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, filter 0.4s ease;
    /* margin-bottom: 10px; */

}



.proyecto-img {
    width: 300px;
}

.img-info {
    width: 100%;
    margin-top: 8px;
    text-align: center;
    color: rgb(223, 113, 21);
    font-family: 'Righteous';
}

.img-info-2 {
    color: rgb(0, 255, 191);
    width: 100%;
    margin-top: 8px;
    text-align: center;
    font-family: 'Righteous';
}


.proyecto-media {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.demo {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.btn-demo {
    display: inline-flex;
    /* 🔥 clave para alinear icono + texto */
    align-items: center;
    gap: 8px;
    background-color: #080500;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;


    transition: 0.2s;
}

.btn-demo:hover {
    /* background-color: #cc0000; */
    transform: scale(1.10);
}

.btn-demo img {
    align-items: center;
    width: 28px !important;
    height: 28px !important;
    object-fit: contain;
    display: block;
    border-radius: 0 !important;
    /* 🔥 clave: sin bordes redondos */
}



/* overlay link */
.portfolio .ver-proyecto {
    position: absolute;
    font-family: 'Righteous';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);

    background: rgba(0, 1, 7, 0.342);
    /* color: rgba(248, 248, 248, 0.932); */
    color: #00bcd4;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;

    opacity: 0;
    transition: all 0.3s ease;
}

/* hover effect */
.portfolio .proyecto-img:hover img {
    transform: scale(1.1);
    filter: brightness(0.4);
    transform-origin: center;
}

.portfolio .proyecto-img:hover .ver-proyecto {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/*///*/





.portfolio .info {
    flex: 1;
    min-width: 0;

}

.portfolio .info h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.portfolio .info h3 a {
    color: #00bcd4;
    text-decoration: none;
}

.portfolio .descripcion {
    margin: 12px 0;
    font-size: 17px;
    line-height: 1.6;
    color: #ccc;
}

.portfolio .tecnologias {
    margin: 10px 0;
    display: flex;
    gap: 18px;
    font-size: 28px;
}

.portfolio .tecnologias i {
    transition: all 0.3s ease;
    cursor: default;
}


.portfolio .fa-html5 {
    color: #e34c26;
}

.portfolio .fa-css3-alt {
    color: #264de4;
}

.portfolio .fa-js {
    color: #f0db4f;
}

.portfolio .fa-node {
    color: #3c873a;
}

.portfolio .fa-gears {
    color: #ff004c;
}

.portfolio .fa-database {
    color: #0112fd;
}

.portfolio .fa-plug {
    color: #9c27b0;
}

.portfolio .fa-layer-group {
    color: #00bcd4;
}

.portfolio .fa-grip {
    color: #d103fa;
}

.portfolio .fa-table-list {
    color: brown
}

.portfolio .fa-mobile-retro {
    color: chartreuse
}

.portfolio .tecnologias i:hover {
    transform: translateY(-5px) scale(1.25);
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.5));
}


@media (max-width: 992px) {
    .portfolio .proyecto {
        flex-direction: column;
        align-items: center;
        text-align: justify;

    }

    .portfolio .proyecto img {
        width: 80%;
        max-width: 350px;
        height: auto;
    }

    .portfolio .info {
        width: 100%;
    }

    .portfolio .tecnologias {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .portfolio h2 {
        font-size: 40px;
    }

    .portfolio .proyecto {
        padding: 20px;
        gap: 20px;
        text-align: justify;
    }

    .portfolio .proyecto img {
        width: 100%;
        height: auto;
    }

    .portfolio .info h3 {
        font-size: 22px;
    }

    .portfolio .descripcion {
        font-size: 16px;
    }

    .portfolio .tecnologias {
        font-size: 24px;
        gap: 14px;
    }
}



/* SECCION CONTACTO */
.contacto {
    background: linear-gradient(to top, rgba(26, 31, 32, 0.8), rgb(26, 30, 32)),
        url(img/contact.jpg);
    background-size: cover;
    height: 150vh;
    color: #0011ff;
    align-items: center;
    color: #fff;
    padding: 50px 20px;

}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 60px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #0011ff;
}




.contacto-info {
    padding-top: 5px;
    color: #008cff;
    font-size: 18px;
    font-family: 'Righteous';
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #00c6ff;

    animation: typing 5s steps(40, end) infinite, blink 0.7s infinite;

    margin: 0 auto;
}

.contenedor-contacto-info {
    text-align: center;
}

@keyframes typing {


    0% {
        width: 0ch;
    }

    50% {
        width: 36ch;
    }

    100% {
        width: 36ch;
    }

    /* ajustá según largo del texto */
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.contacto-info i {
    margin-left: 5px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

/*--ESPAÑOL--*/

.contacto-info-ES {
    padding-top: 5px;
    color: #008cff;
    font-size: 18px;
    font-family: 'Righteous';
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #00c6ff;

    animation: typing-ES 5s steps(40, end) infinite, blink 0.7s infinite;

    margin: 0 auto;
}

.contenedor-contacto-info-ES {
    text-align: center;
}

@keyframes typing-ES {


    0% {
        width: 0ch;
    }

    50% {
        width: 41ch;
    }

    100% {
        width: 41ch;
    }

    /* ajustá según largo del texto */
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.contacto-info-ES i {
    margin-left: 5px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}






.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
    margin: 0 auto;

}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    /* border: none; */
    border-color: #ffffff;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    background-color: transparent;

}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #0011ff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;

}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0011ff;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.resultado {
    text-align: center;
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.error {
    color: rgb(253, 37, 37);
    font-style: italic;
    font-family: 'Righteous';
}


.shake {
    animation: shake 0.3s;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}







/*FOOTER*/
footer {
    background: url(img/footer.jpg);
    background-size: cover;
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #001eff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    color: #001eff;

}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0011ff;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

.idioma {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}

.idioma img {
    width: 30px;
    height: 20px;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.idioma img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}




/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {


    .sobremi p {
        text-align: justify;
    }

    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }

    .contacto-info {
        font-size: 13px;
        line-height: 1.4;
    }

    .contacto-info i {
        font-size: 13px;
    }

    /*ESP*/
    .contacto-info-ES {
        font-size: 13px;
        line-height: 1.4;
    }

    .contacto-info-ES i {
        font-size: 13px;
    }
}